body{
    background-color: #fff;
}

.blog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-n-mode{
    display: flex;
    
}
#back-btn{
    padding: 0px 10px;
    margin-right: 20px;
}

.post-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.post-container h3{
    margin-bottom: 0px;
}
.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}